{% extends 'ftp/base.html' %}

{% block content %}
    <div>
        <h1>News</h1>
        <table>
            <tr>
                <th>Дата</th>
                <th>Время</th>
                <th>Изменение</th>
            </tr>
        {% for line in log %}
            {% if 'file upload to' in line %}
                <tr>
                    <td>{{line|slice:"9:19"}}</td>
                    <td>{{line|slice:"19:29"}}</td>
                    <td>File uploaded to: {{line|slice:"95:"}}</td>
                </tr>
            {% elif 'file download from' in line %}
                <tr>
                    <td>{{line|slice:"9:19"}}</td>
                    <td>{{line|slice:"19:29"}}</td>
                    <td>File downloaded: {{line|slice:"99:"}}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </table>
        <p><a href="{% url 'main' %}">Return to main</a></p>
    </div>
{% endblock %}